@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

/* ---------------------------------------------------- Header ------------------------------------------------------ */

header{
    background-color:  rgb(18, 163, 205);
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    padding-left: 2em;
    border-bottom-style: solid;
    border-width: 10px;
    border-color: #1293bc;
    z-index:10;
}

header a{
    color: white;
    font:1.2em 'Montserrat Alternates';
    text-decoration: none;
}

header .nav ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
header .nav li {
    text-align: center;
}

header .nav a {
    display: block;
    border-radius: 25px;
    transition: .3s background-color;
}

header .nav a:hover {
    background-color: #1293bc;
}

/* Cursor em cima dos links */
header .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    header .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    header .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}

/* Cursor em cima dos botões */
input[type=button]{
    cursor: pointer;
}

/* ---------------------------------------------------- Footer ------------------------------------------------------ */

footer{
    /*position:absolute;
    bottom:0;
    width:99%;*/
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

footer p{
    font:1em 'Montserrat Alternates';
    float:right;
    padding-right:15px;
}

/* ----------------------------------------------- Home page forms -------------------------------------------------- */
#sectionBody{
    margin-top: 15em;
    margin-bottom: 5em;
    z-index:0;
}

.homeform
{
    margin: 5em auto;
}

.searchFormTitle{
    margin: 1em auto;
    width: 50%;
    font:1.2em 'Montserrat Alternates';
}

.field {
  display:flex;
  position:relative;
  margin:1em auto;
  width:50%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 #1293bc,
   2px 2px 0 #1293bc,
   3px 3px 0 #1293bc,
   4px 4px 0 #1293bc,
   5px 5px 0 #1293bc,
   6px 6px 0 #1293bc,
   7px 7px 0 #1293bc
  ;
}

.field>input[type=text],
.field>input[type=button] {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(18, 163, 205);
}

.field>input[type=button] {
  padding:0.6em 0.8em;
  background-color: rgb(18, 163, 205);
  color:white;
  border:none;
}

/* -------------------------------------------------- Login e SignUp ------------------------------------------------- */

h2{
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font:1.8em 'Montserrat Alternates';
}

.login, .signUp{
    margin-left:30%;
    max-width: 900px;
    /*padding: 5px 12px 10px 20px;*/
    font:1.2em 'Montserrat Alternates';
}

.login label, .signUp label{
    margin: 2px;
    display: block;
}

.login p, .signUp p{
    margin: 5px;
    font:0.8em 'Montserrat Alternates';
    color:red;
}

.login input[type=password],
.login input[type=text],
.signUp input[type=password],
.signUp input[type=text],
.signUp input[type=email],
.signUp input[type=date]{
    width: 48%;
}

.signUp #birthdate{
    width: 20%;
}
.signUp #postCode1,
.signUp #postCode2{
    width:10%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font:1.2em 'Montserrat Alternates';
}
::-moz-placeholder { /* Firefox 19+ */
    font:1.2em 'Montserrat Alternates';
}
:-ms-input-placeholder { /* IE 10+ */
    font:1.2em 'Montserrat Alternates';
}
:-moz-placeholder { /* Firefox 18- */
    font:1.2em 'Montserrat Alternates';
}

.login input[type=text],
.login input[type=password],
.login textarea,
.signUp input[type=text],
.signUp input[type=password],
.signUp textarea,
.signUp input[type=email],
.signUp input[type=date]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.reply textarea
{
    margin-top:0.7em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    border-color: #12a3cd;
}
.login input[type=text]:focus,
.login input[type=password]:focus,
.login textarea:focus,
.signUp input[type=text]:focus,
.signUp input[type=password]:focus,
.signUp textarea:focus,
.signUp input[type=email]:focus,
.signUp input[type=date]:focus{
    border: 1px solid #0C0;
}

.reply textarea:focus{
    border: 1px solid #12a3cd;
}

.login .textarea,
.signUp .textarea,
.reply textarea{
    height:100px;
    width: 55%;
}
.login input[type=submit],
.login input[type=button],
.signUp input[type=submit],
.signUp input[type=button]{
    font:0.9em 'Montserrat Alternates';
    border: none;
    padding: 8px 15px 8px 15px;
    background: #12a3cd;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.reply input[type=button]{
    font:0.9em 'Montserrat Alternates';
    border: none;
    padding: 8px 15px 8px 15px;
    background: #12a3cd;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#buttons{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

}
.login input[type=submit]:hover,
.login input[type=button]:hover,
.signUp input[type=submit]:hover,
.signUp input[type=button]:hover{
    background: #1293bc;
    color: #fff;
}

.signUp .postCode1,
.signUp .postCode2{
    width: 40px;
    text-align: center;
}

/* --------------------------------------------- User Profile/ Restaurant ------------------------------------------- */

/* --------- Info -------- */

#res #informations img{
    border: 1px solid #12a3cd;
    border-radius: 4px;
    padding: 5px;
    margin-left:2.5em;
}

#profile #main img{
    border: 1px solid #12a3cd;
    border-radius: 4px;
    padding: 5px;
}

#profile #main ul li,
#res #info ul li{
    list-style: none;
    padding: 8px 0px 8px 0px;
}

#profile #main ul label,
#res #info ul label{
    font:1em 'Montserrat Alternates';

}

#profile #main ul div,
#res #info ul div{
    margin-top:2em;
    margin-bottom:2em;
}

#profile #main ul a,
#res #info ul a{
    margin-top: 3em;
    font:0.9em 'Montserrat Alternates';
    border: none;
    padding: 8px 15px 8px 15px;
    background: #12a3cd;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    cursor: pointer;
    text-decoration:none;
}

#profile #menuProfile{
    position: fixed;
    right: 40px;
    width: 250px;
    padding: 10px;
}

#res #menuProfile{
    position: fixed;
    right: 40px;
    width: 250px;
    top:15em;
    padding: 10px;
}

#profile #menuProfile ul a,
#res #menuProfile ul a{
    font:0.9em 'Montserrat Alternates';
    border: none;
    padding: 8px 15px 8px 15px;
    background: #12a3cd;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

/* --------- Manage Restaurants/Visited Places -------- */

#profile #manageRestaurants a,
#profile #visitedPlaces a,
#profile #friends a,
#res #informations a{
    background: rgb(18, 163, 205);
    font:1em 'Montserrat Alternates';
    text-color:white;
    border: 5px;
    padding: 8px 15px 8px 15px;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color:white;
}

#profile #manageRestaurants li,
#profile #history li,
#profile #visitedPlaces li,
#res #informations li,
#res #reviews li
{
    font:0.9em 'Montserrat Alternates';
    list-style: none;
    margin:1em;
}

#profile #manageRestaurants img,
#profile #visitedPlaces img{
     margin-bottom:3em;
 }

#profile #manageRestaurants #buttons{
    margin: 2em;
}

#profile #visitedPlaces img{
    border: 1px solid #12a3cd;
    border-radius: 4px;
    padding: 5px;
    margin-left:3em;
}

/* --------- History -------- */

#profile #history a, #res #options a{
    background: rgb(18, 163, 205);
    font:1em 'Montserrat Alternates';
    text-color:white;
    border: 5px;
    padding: 8px 15px 8px 15px;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color:white;
    margin-bottom: 5em;
}

#profile #history article{
    margin-top: 2em;
    padding: 30px 0px 0px 0px;
    border-top: 0.1em;
    border-top-style: dotted;
    border-color: #12a3cd;
}

#footer {
    margin-left:3.5em;
    font:0.8em 'Montserrat Alternates';
}

article img{
    margin-top:0.1em;
    margin-bottom:0.1em;
    border: 1px solid #12a3cd;
    border-radius: 4px;
    padding: 5px;
}

.date{
    margin-left:1em;
}

.comment{
    margin-top:0.2em;
    padding: 2px 0px 2px 0px;
    position: relative;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #1293bc;
}

/* ----------------------------------------------- Restaurant Profile ----------------------------------------------- */


/* --------- Info -------- */

#res img{
    border: 1px solid #12a3cd;
    border-radius: 4px;
    padding: 5px;
    margin-right: 1em;
}


#res #informations #name{
    margin-left:1.4em;
    font:1.8em 'Montserrat Alternates';
}

#res #informations #rating {
    margin-left:2em;
    font:1.4em 'Montserrat Alternates';
}

#res #informations #options{
    margin:2em;
}

#res #reviews a{
    background: rgb(18, 163, 205);
    font:1em 'Montserrat Alternates';
    text-color:white;
    border: 5px;
    padding: 8px 15px 8px 15px;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color:white;
    margin-bottom: 5em;
}

#res img{

}
#res #reviews article{
    margin-top: 2em;
    padding: 30px 0px 0px 0px;
    border-top: 0.1em;
    border-top-style: dotted;
    border-color: #12a3cd;
}

#res #reviews #footer {
    margin-left:3.5em;
    font:0.8em 'Montserrat Alternates';
}

#res #reviews article img{
    margin-top:0.1em;
    margin-bottom:0.1em;
    border: 1px solid #12a3cd;
    border-radius: 4px;
    padding: 5px;
}

#res #reviews .date{
    margin-left:1em;
}

#res #reviews article #rev_username{
    margin-left:0.7em;
    margin-bottom:1.5em;
}

#res #reviews .comment{
    margin-top:0.2em;
    padding: 2px 0px 2px 0px;
    position: relative;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #1293bc;
}


/* ---------------------------------------------- Pop up container -------------------------------------------------- */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 23%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}