@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

/* ---------------------------------------------------- Header ------------------------------------------------------ */

header{
    background-color:  rgb(18, 163, 205);
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    padding-left: 2em;
    border-bottom-style: solid;
    border-width: 10px;
    border-color: #1293bc;
}

a{
    color: white;
    font:1.2em 'Montserrat Alternates';
    text-decoration: none;
}

.nav ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
.nav li {
    text-align: center;
}

.nav a {
    display: block;
    border-radius: 25px;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #1293bc;
}

/* Cursor em cima dos links */
.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}

/* Cursor em cima dos botões */
input[type=button]{
    cursor: pointer;
}

/* ---------------------------------------------------- Footer ------------------------------------------------------ */

footer{
    position:absolute;
    bottom:0;
    width:99%;
}

footer p{
    font:1em 'Montserrat Alternates';
    float:right;
    padding-right:15px;
}

/* ----------------------------------------------- Home page forms -------------------------------------------------- */
#sectionBody{
    margin-top: 12em;
    margin-bottom: 5em;
}

.homeform
{
    margin: 5em auto;
}

.searchFormTitle{
    margin: 1em auto;
    width: 50%;
    font:1.2em 'Montserrat Alternates';
}

.field {
  display:flex;
  position:relative;
  margin:1em auto;
  width:50%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 #1293bc,
   2px 2px 0 #1293bc,
   3px 3px 0 #1293bc,
   4px 4px 0 #1293bc,
   5px 5px 0 #1293bc,
   6px 6px 0 #1293bc,
   7px 7px 0 #1293bc
  ;
}

.field>input[type=text],
.field>input[type=button] {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(18, 163, 205);
}

.field>input[type=button] {
  padding:0.6em 0.8em;
  background-color: rgb(18, 163, 205);
  color:white;
  border:none;
}

/* ------------------------------------------------------- Login ---------------------------------------------------- */

h2{
    margin: 1em auto;
    padding-left: 1em;
    font:1.6em 'Montserrat Alternates';
}

.login{
    max-width: 900px;
    padding: 5px 12px 10px 20px;
    font:1.2em 'Montserrat Alternates';
}

.login label{
    margin: 2px;
    display: block;
}

.login p{
    margin: 5px;
    font:0.8em 'Montserrat Alternates';
    color:red;
}

.login input[type=password],
.login input[type=text]{
    width: 48%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font:1.2em 'Montserrat Alternates';
}
::-moz-placeholder { /* Firefox 19+ */
    font:1.2em 'Montserrat Alternates';
}
:-ms-input-placeholder { /* IE 10+ */
    font:1.2em 'Montserrat Alternates';
}
:-moz-placeholder { /* Firefox 18- */
    font:1.2em 'Montserrat Alternates';
}

.login input[type=text],
.login input[type=password],
.login textarea
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.login input[type=text]:focus,
.login input[type=password]:focus,
.login textarea:focus{
    border: 1px solid #0C0;
}
.login .textarea{
    height:100px;
    width: 55%;
}
.login input[type=submit],
.login input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #12a3cd;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.login input[type=submit]:hover,
.login input[type=button]:hover{
    background: #1293bc;
    color: #fff;
}

/* ---------------------------------------------- Pop up container -------------------------------------------------- */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 23%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
